.auction-card {
    position: relative;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(201, 10, 10, 0.2);
    display: flex;
    flex-direction: column;
    max-width: 620px;
    max-height: 600px;
    margin: 20px;
    padding: 20px;
    background-color: rgb(131, 150, 148);
    color: #ffffff;
    
  }
  
  .card-image img {
    max-width: 500px;
    max-height: 275px;
    height: auto;
  }
  
  .card-details {
    margin-top: 15px;
  }
  
  .card-details h2 {
    font-size: 1.5rem;
    color: #a33f3f; /* Kırmızı başlık */
  }
  
  .card-details p {
    margin: 5px 0;
    color: #ffffffde;
  }
  
  .card-action button {
    background-color: #b93939; /* Kırmızı düğme arka planı */
    color: #eea24c; /* Siyah düğme metni */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .card-action button:hover {
    background-color: #ff6666; /* Düğme üzerine gelindiğinde rengi açık kırmızı yap */
  }
  .page-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }

